<h3 class="p-4">Cart</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody class="cartItems">   
  </tbody>
</table>

  <div class="row">
    <div class="col">
      <div class="form-control-feedback">
        <span class="formError text-danger align-middle"></span>
        <span class="formSuccess text-success align-middle"></span>
      </div>
    </div>
  </div>

    

