<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Menu</h1>
  <p class="lead">
    <ol>
      <li>Signup on the site</li>
      <li>View all the items available to order</li>
      <li>Fill up a shopping cart</li>
      <li>Place an order (with fake credit card credentials), and receive an email receipt</li>
    </ol>
  </p>
</header>

<div class="row text-center menu-items">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus
          neque.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">ADD TO CART</a>
      </div>
    </div>
  </div>

</div>