<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Menu</h1>
  <p class="lead">
    <ol>
      <li>Signup on the site</li>
      <li>View all the items available to order</li>
      <li>Fill up a shopping cart</li>
      <li>Place an order (with fake credit card credentials), and receive an email receipt</li>
    </ol>
  </p>
</header>

<div id="noItemsMessage" class="text-center d-none">No Items available Yet</div>

<div class="row text-center">
  
    
    <form role="form" method="POST" action="/api/cart" id="cart">
    <div class="row">
      <div class="col">
        <div class="form-control-feedback">
          <span class="formError text-danger align-middle"></span>
          <span class="formSuccess text-success align-middle"></span>
        </div>
      </div>
    </div>
      <div class="menu-items"></div>
    </form>
    
</div>
